body{
    padding: 50px;
    margin: 50px;
    background-color: #E0FFFF;
    text-align: center;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    margin: 10px;
}
img{
    border-radius: 10px;
}
